#header{
    background-color: bisque;
}

img#logo {
    height: 130px;
    width: 150px;
}
h2#title{
    float:right;
    padding-right:75%;
    text-align: left;
    vertical-align: center;
}

#filters{
    background-color: chartreuse;
    width: 30%;
    height: 1500px;
    float: left;
}
#results{
    float: right;
    width: 70%;
}
#cards{
    background-color: blue;
    height: 1475px;
}

.card {
    background-color: darkorange;
    width: 25%;
    height: 350px;
    margin-left: 6%;
    margin-top: 5%;
    display: inline-block;

}

#paging{
    background-color: coral;
    height: 25px;
}
