body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: gainsboro;
}

div#logo {
    display: inline-block;
    position: relative;
    top: 15px;
    left: 55px;
}
div#logo img {
    height: 130px;
    width: auto;
}

div#title{
    display: inline-block;
    left: 150px;
    bottom: 90px;
}
#title > span {
    position: relative;
    bottom: 20px;
    font-size: 6em;
    font-weight: bold;
    left: 75px;
    
}
img.photo {
    height: 130px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#results {
    float: right;
    width: 70%;
}

#cards {
    border-style: solid;
    border-width: 1px;
    height: auto;
}

.card {
    border-style: solid;
    border-width: 1px;
    width: 25%;
    height: 350px;
    margin-left: 6%;
    margin-top: 5%;
    display: -webkit-inline-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#paging {
    border-style: solid;
    border-width: 1px;
    height: 25px;
    margin-top: 5px;
}
#paging > span {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

p.description {
    margin-top: 0px;
    display: inherit;
    margin: 15px 6px 0px 6px;
}

.banner {
    width: 100%;
    margin: 15px 0 20px 0;
    display: inline-block;
    text-align: center;
    padding: 15px 0 15px 0;
}

.lost {
    background-color: orangered;
}

.found {
    background-color: olivedrab;
}

.cardBlock {
    display: inline-block;
    width: 100%;
}