#paging {
    border-style: solid;
    border-width: 1px;
    height: 25px;
    margin-top: 15px;
    display: flex;
}

#paging>span {
    float: right;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;    
}